.row
  .large-12.columns
    = simple_form_for [@child] do |f|
      = f.error_notification

      .form-inputs
        = f.input :first_name, :required => true
        = f.input :last_name, :required => true
        -#- f.input :parent_id
        -#= f.input :age
        = f.input :allergies
        .row
          .large-3.columns
            = f.input :dob, :include_blank => true, :required => true
        - if current_user.admin?
          = f.input :joining_date
          = f.input :leaving_date,  :include_blank => true

      .form-actions
        = f.submit "save", class: :button
